<h3 class="mt-3">Login</h3>
<hr>
<div class="row">

  <div class="col-md-6">
    <form #loginForm="ngForm" autocomplete="off" novalidate (ngSubmit)="submitForm(loginForm.value)">
      <div class="form-floating form-floating-3 mb-3">
        <input id="login" autocomplete="false"
          [ngClass]="{'form-control form-control-sm':true ,'is-invalid':loginForm.controls['login']?.invalid && (loginForm.controls['login']?.touched || mouseOverLogin) }"
          (ngModel)="login" required name="login" type="text" placeholder="User Name..." />
        <label class="form-label" for="login">User name</label>
      </div>
      <div class="mb-3">
        <em *ngIf="loginForm.controls['login']?.invalid && (loginForm.controls['login']?.touched || mouseOverLogin)"
          class="invalid-feedback">
          Please enter a login.
        </em>
      </div>

      <div class="form-floating form-floating-3 mb-3">
        <input id="password" autocomplete="false"
          [ngClass]="{'form-control form-control-sm':true ,'is-invalid':loginForm.controls['password']?.invalid && (loginForm.controls['password']?.touched || mouseOverLogin)}"
          (ngModel)="password" required name="password" type="password" placeholder="Password..." />
        <label class="form-label" for="password">Password</label>
        <em [ngClass]="{'invalid-feedback':(loginForm.invalid && loginForm.touched)}">
          <span *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched"
            class="invalid-feedback">
            Please enter password.
          </span>
        </em>
      </div>


      <div tooltip="Vivamus sagittis lacus vel augue laoreet" class="footer-btn">
        <span (mouseenter)="mouseEvent($event , true)">
          <button  type="submit" [disabled]="loginForm.invalid"
            class="btn btn-success">Login</button>
        </span>
        <button type="reset" (click)="cancel(loginForm)" class="btn btn-danger">Cancel</button>
      </div>
    </form>
  </div>
</div>


<!-- <div class="col-md-5">
  <pre>
    loginForm.controls.password.invalid : {{loginForm.controls['password']?.invalid }}
    loginForm.controls.password.touched : {{loginForm.controls['password']?.touched }}
    loginForm.invalide : {{loginForm.invalid }}
    loginForm.touched : {{loginForm.touched }}
  </pre>
</div> -->
